body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer {
  background-color: #5b5b5b;
  color: white;
  padding: 10px;
  text-align: left;
}

.container {
  display: flex;
  transition: margin-left 0.1s;
}

.sidebar {
  width: 150px;
  background-color: #060606;
  color: white;
  padding: 15px;
  transition: width 0.1s;
  position: relative;
}

.sidebar.collapsed {
  width: 0px;
  padding: 0px;
  overflow: hidden;
}

.sidebar h2 {
  font-size: 1.5em;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
}

.main-content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.1s;
}

.toggle-button {
  position: fixed;
  top: 100px;
  left: 5px;
  background-color: #060606;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 5px 7px;
  transition: left 0.1s;
}

.sidebar.collapsed .toggle-button {
  left: 10px;
}

main h2 {
  font-size: 2em;
}

main p {
  line-height: 1.6;
}
