body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer {
  background-color: #444444;
  padding: 10px;
  color: white;
}

.container {
  display: flex;
  transition: margin-left 0.3s;
}

.sidebar {
  width: 150px;
  background-color: #060606;
  color: white;
  padding: 10px;
  position: relative;
}

.sidebar h2 {
  font-size: 1.5em;}
  text-decoration: underline; /* Underline the text */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 0; /* Adjust padding to reduce space within links */
  display: block; /* Ensure the entire link area is clickable */
}

.main-content {
  flex: 1;
  padding: 10px;
}

.toggle-button {
  display: none;
} /* Hide the toggle button */

main h2 {
  font-size: 2em;
}

main p {
  line-height: 1.6;}
