body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer {
  background-color: #444444;
  padding: 5px;
  color: white;
}

.header-image {
  position: fixed; /* Position the image relative to the viewport */
  top: 10px; /* Align to the top */
  right: 10px; /* Align to the right */
  width: 50px; /* Adjust width as needed */
  height: auto; /* Set the desired height */
  /*z-index: 999; /* Ensure it's above other content */
}

.icon-link {
  color: white; /* Icon color */
  text-decoration: none; /* Remove underline */
  font-size: 24px; /* Icon size */
  margin-left: 20px; /* Space from text */
}

.icon-link:hover {
  color: #ddd; /* Icon hover color */
}


.container {
  display: flex;
  transition: margin-left 0.3s;
  min-height: 100vh;
}

.sidebar {
  width: 200px;
  /* min-height: 100vh; */
  background-color: #060606;
  color: white;
  padding: 10px 15px;
  position: relative;
}

.sidebar h2 {
  font-size: 1.5em;
  text-decoration: underline;
  margin-bottom: 5px;
  margin-top: 5px;
}


.sidebar ul {
  list-style-type: none;
  padding: 5px;
  margin: 0;
}

.sidebar ul li {
  margin: 5px 0; /* Reduce the vertical margin */
  line-height: 1.5; /* Adjust line height for more compact spacing */
}

.sidebar ul li a {
  text-decoration: none;
  color: white; /* Maintain text color as white */
  padding: 0; /* Reduce the padding */
  display: block; /* Ensure links occupy the full width */
}

.main-content {
  flex: 1;
  padding: 5px;
}

.toggle-button {
  display: none;
} /* Hide the toggle button */

main h2 {
  font-size: 1.5em;
}

main p {
  line-height: 1.0;}
